.root {
-fx-font-family: Roboto;
}
.contentPane
{
    -fx-background-color: #00325a;
}
.contentPane .label{
    -fx-text-fill: WHITE;
}
.contentPane .button{
    -fx-background-color: #123d69;
    -fx-background-radius: 5px;
    -fx-border-color: #123d69;
    -fx-text-fill: white;
}
.contentPane .button:pressed{
    -fx-border-color: #666666;
}
.background
{
    -fx-background-color: #00325a;
}
.background .label
{
    -fx-text-fill: white;
}
.badLabel .label
{
    -fx-text-fill: red;
}
.background .button{
    -fx-background-color: #123d69;
    -fx-border-color: white;
    -fx-border-style: dotted;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}
.background .text-field{
    -fx-background-color: #111111;
    -fx-text-fill: white;
    -fx-border-color: #666666;
}
.header
{
    -fx-font-size: 24;
    -fx-text-fill: #00325a;
}
.topMenu{
    -fx-background-color: #252525;
}
.topMenu .menu-bar{
    -fx-background-color: #252525;
    -fx-text-fill: white;
    -fx-selection-bar: #4e4e4e;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #4e4e4e;
}
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-background-color: #4e4e4e;
}
.topMenu .label{
    -fx-text-fill: white;
}
.topMenu .menu-item:hover .label,
.topMenu .menu-item:focused .label,
.topMenu .menu-item:showing .label{
    -fx-background-color: #4e4e4e;
}
.topMenu .context-menu{
    -fx-background-color: #252525;
}

